#footer {
    background-color: #2ECC71;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}